# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Lenovo LEGION\Desktop\7th term\Distributed Computing\dc-course-master\dc-course-master\examples\WebServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
